@page "/"
@page "/index.html"

<h1> Blazor served by ServiceStack in a Console App </h1>

<p>Welcome to a simple demonstration of a Blazor app served from a ServiceStack Console app.</p>

<p>Having Fiddler installed and running is good idea to see the network interaction between the Blazor app and the ServiceStack app.</p>

<p>Navigate to the BasicRESTServices page to cause this Blazor app to send an Initialization Post to the ServiceStack Console app.</p>

<p>Enter data in the "Data To Post" field, press the "Post Data" button, and see ServiceStack echo back the data you entered.</p> 
