@page "/BaseServices"
@inject HttpClient Http
@inherits Ace.AceGUI.Pages.BaseServicesCodeBehind
<h1>AceCommander Base Services</h1>

    Current isAliveResponse :
@if (@isAliveResult == null)
{
  <p><em>Loading...</em></p>
}
else
{
  <p>
    @isAliveResult
  </p>
}

