@page "/BaseServices"
@inject HttpClient Http
@using Ace.AceService.BaseServicesModel
<h1>AceCommander Base Services</h1>

    Current isAliveResponse :
@if (isAliveResult == null)
{
  <p><em>Loading...</em></p>
}
else
{
  <p>
    @isAliveResult
  </p>
}

  Current appHost Configuration :
@functions {
string isAliveResult;

protected override async Task OnInitAsync()
{

  Console.WriteLine($"starting OnInitAsync");
  IsAliveResponse _isAliveResponse = await Http.GetJsonAsync<IsAliveResponse>("/isAlive/Bill?format=json");
  Console.WriteLine($"GetJsonAsync returned");

  //ToDo: fix this
  isAliveResult = _isAliveResponse.Result;
}

}
