@page "/GUIServices"
@inject HttpClient Http
@using Ace.AceService.GUIServices.Models

<h1>AceCommander GUI Services</h1>

    Current verifyGUIResult :
@if (verifyGUIResult == null)
{
  <p><em>t3 Loading...</em></p>
}
else
{
  <p>
    @verifyGUIResult
  </p>
}
@functions {

    string verifyGUIResult;
    protected override async Task OnInitAsync()
    {

      Console.WriteLine($"starting GUIServices.OnInitAsync");
      VerifyGUIResponse verifyGUIResponse = await Http.GetJsonAsync<VerifyGUIResponse>("/VerifyGUI?format=json");
      Console.WriteLine($"GUIServices.OnInitAsyncGetJsonAsync returned {verifyGUIResponse.Result}");
      verifyGUIResult = verifyGUIResponse.Result;
    }
}
