@page "/GUIServices"
@inherits Ace.AceGUI.Pages.GUIServicesCodeBehind

<h1>AceCommander GUI Services</h1>

    Current verifyGUIResult :
@if (verifyGUIResult == null)
{
  <p><em>t3 Loading...</em></p>
}
else
{
  <p>
    @verifyGUIResult
  </p>
}

