@page "/"
@page "/index.html"

<h1>Welcome to Blazor Examples!</h1>
<div>
  Hope these help you better understand Blazzor in some small ways.
</div>
<h2>For first time visitors</h2>
These Blazor examples make use of Console writeline to assist in undertstanding the lifcycle flow. To see the console messages
<li>press F12 in your browser to bring up the browser developer tools</li>
<li>find and display the Console tab</li>



