# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true
insert_final_newline = true

# CSharp code style settings:
[*.cs]
csharp_style_conditional_delegate_call = true:suggestion
csharp_style_throw_expression = true:suggestion
csharp_prefer_braces = true:suggestion
csharp_style_pattern_local_over_anonymous_function = true:suggestion
