@page "/"
@page "/index.html"
@inherits GUI.Pages.IndexCodeBehind

<h1> A Blazor GUI served by ServiceStack Middleware in a .Net Core 2.1 WebHost (an Integrated IIS InProcess WebHost) </h1>

<p>Welcome to a simple demonstration of a Blazor app served from a ServiceStack Console app.</p>

<p> Having the browser's Developer Tools window open, showing the Console window, will display the logging message from the GUI in the Console window. Note that it "just works" on FireFox and Edge, but Chrome, by default, won't show logging messages. Here's a link how to configure Chrone to show logging messages, if you are using Chrome</p>

<p>The number below will increment with each button click, but will reset to 0 if the page is refreshed (browser refresh button).</p>

<p>@aIntProperty</p>
<button @onclick=( @Button1OnClick )>click to increment</button>

<p>This page has no State storage so `aIntProperty` re-initializes each time the page is initialized</p>
