@page "/"
@page "/index.html"

<h1> Blazor served by ServiceStack middleware in an ASP.Net Core (V3.0) Host (IIS in-process integrated with Kestrel) </h1>

<p>Welcome to a simple demonstration of a Blazor app served from ServiceStack middleware in an ASP.Net Core (V3.0) Host (IIS in-process integrated with Kestrel)</p>

<p> Run this command in a powershell window: ps | ?{$_.name -match "iis"}, and you will see iis listed</p>

<p>Having Fiddler installed and running is good idea to see the network interaction between the Blazor app and the ServiceStack app.</p>

<p> Having the browser's Developer tools window open, showing the Console window, will display the logging statements inside the GUI code (broke on Chrome, works on Firefox)</p>

<p>Navigate to the BasicRESTServices page to cause this Blazor app to send an Initialization Post to the ServiceStack Console app.</p>

<p>Enter data in the "Data To Post" field, press the "Post Data" button, and see (in Fiddler and on the screen) ServiceStack echo back the data you entered.</p>
