<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogFile="C:\NLogDir\NLog.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>
  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

  <!--
    Write events to a file with the date in the filename.
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->

  <!-- per https://github.com/NLog/NLog/issues/2036, NLog can have two targets-group. Console will be sync, file and eventlog will be async-->
  <targets>
    <default-wrapper xsi:type="AsyncWrapper" overflowAction="Block" timeToSleepBetweenBatches="0" />
    <target xsi:type="File"
            name="archivefile"
            layout="${longdate} - ${level:uppercase=true}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"
            fileName="C:\NLogDir\Debug.log"
            keepFileOpen="false"
            archiveFileName="C:\NLogDir\.{##}.log"
            archiveNumbering="Sequence"
            archiveEvery="Day"
            maxArchiveFiles="30"
            />
    <target name="xunitLogFile" xsi:type="File" fileName="C:\NLogDir\xunittest.log"/>
  </targets>
  <targets>
    <target name="console" xsi:type="Console"/>
    <target name="viewer" xsi:type="NLogViewer"  address="udp://127.0.0.1:9999"/>
    <target name="xunitLogOutputHelper" xsi:type="Console"/>
  </targets>
  <rules>
    <logger name="*" writeTo="viewer" minlevel="Trace" />
    <logger name="*" writeTo="console" minlevel="Trace" />
  </rules>


</nlog>



